services:
  - type: web
    name: werewolf-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        value: "8200504499:AAFxKfMV6ioudGs1FQJ_ndhvhP8lOMBCFi8"
